<link rel="stylesheet" href='index.css'>

<main class='index'>
    <img class='top-image' src="pipoca.jpg">

    <div class="posts">
        <% site.posts.each(function(post, i) { %>

            <!-- <%- url_for(post.path) %> -->

            <div class='post'>
                <div class='details'>
                    <div class="tags">
                        <% post.tags.each(function(tag, i) { %>
                            <span class='tag'><%- tag.name %></span>
                        <% }) %>
                    </div>

                    <span class='date'><%- date(post.date, 'DD/MM/YYYY') %></span>
                </div>
                
                <h2 class='title'><%- post.title %></h2>
                <p class='synopsis'><%- truncate(post.content, { length: 10, omission: '...' }) %></p>
            </div>
        <% }) %>
    </div>
</main>