<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>
        <%- config.title %>
        <%if (page.title != null && page.title.length > 0) { %>
        - <%- page.title %>
        <% } %>
    </title>

    <link rel='stylesheet' href='/icomoon/style.css'>
    <link rel='stylesheet' href='/layout.css'>

    <style>
        html {
            --primary-color: <%- config.primaryColor %>;
            --secondary-color: <%- config.secondaryColor %>;
            --text-light-color: <%- config.textLightColor %>;
            --text-dark-color: <%- config.textDarkColor %>;
            --background-color: <%- config.backgroundColor %>;
        }
    </style>
</head>
<body>
    <% if(!is_home()) { %>
        <a href='/' class='home-button'>
            <i class='icon-home'></i>
        </a>
    <% } %>


    <label for='input-menu' role='button' aria-label='Menu' class='menu-button'>
        <i class='icon-hamburguer-menu'></i>
    </label>

    <input id='input-menu' type='checkbox' checked hidden />

    <header class='menu'>
        <label for='input-menu' class='menu-close' tabindex='-1' aria-hidden='true'></label>
        <nav role='navigation'>
            <div class='area-logo' aria-hidden='true'>
                <div class='logo'>
                    <img src='/logo.png'>
                </div>
            </div>
            <ul>
                <li>
                    <a href='/' class='no-underline <%- is_home() && 'selected' %>'>
                        <i class="icon-home"></i>
                        Home
                    </a>
                </li>

                <li>
                    <a href='/sobre' class='no-underline <%- page.title == 'sobre' && 'selected' %>'>
                        <i class="icon-user"></i>
                        Sobre
                    </a>
                </li>

                <li>
                    <a href='/faq' class='no-underline <%- page.title == 'faq' && 'selected' %>'>
                        <i class="icon-contacts"></i>
                        FAQ
                    </a>
                </li>

                <li>
                    <a href='/categories' class='no-underline <%- page.title == 'categories' && 'selected' %>'>
                        <i class="icon-blog"></i>
                        Categorias
                    </a>
                </li>

                <% site.categories.each(function(category, i) { %>
                    <li>
                        <a href='' class='no-underline'>
                            <i class="icon-blog"></i>
                            <%- titlecase(category.name) %>
                        </a>
                    </li>
                <% }) %>
                
            </ul>
        </nav>
    </header>

    <%- body %>

    <footer>
        <p>Blog feito com HTML, CSS, <a href='https://hexo.io' target='_blank'>Hexo</a>, <i class="icon-heart"></i> e pipoca com café</p>
        <p>Curiosidade de como o blog foi feito? <a href='https://github.com/jonathan-santos/pipocacafeinada' target='_blank'>Acesse o repositório do projeto</a></p>
    </footer>
</body>
</html>